.btn.btn-warning.rounded-circle.me-2{
    background-color: rgb(106, 170, 10);
    border-color: rgb(106, 170, 10);
}

.id{
    padding-left: 100px;
}
.Parrafo1{
    padding-right: 50px;
    padding-left: 10px;
}

.Parrafo2{
    margin-bottom: 20px;
    margin-left: 100%;
}

.Parrafo3{
    margin-bottom: 20px;
    margin-left: 100%;
}

.Parrafo4{
    margin-bottom: 20px;
    margin-left: 100%;
}

.Parrafo5{
    margin-bottom: 20px;
    margin-left: 100%;
}
.Parrafo6{
    margin-bottom: 20px;
    margin-left: 100%;
}
.form-check-input{
    padding: 4px;
}
.idk{
    padding: 8px; 
}