<div class="container">
    <div class="row">       
        <div class="col te">                  
            <form #formLogin="ngForm">
                <div class="mb-3">
                    <h1 style="text-align: center;"><b>Log in</b></h1>    
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input #email="ngModel" [ngClass]="email.invalid &&
                (email.dirty || email.touched) ? 'is-invalid' : ''" type="email" class="form-control"
                        [(ngModel)]="loginUser.email" name="email" required id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input #password="ngModel" type="password" class="form-control" id="password" [ngClass]="password.invalid &&            
                (password.dirty || password.touched) ? 'is-invalid' : ''" [(ngModel)]="loginUser.password"
                        name="password" required>
                </div>

                <div class="col-6">
                    <a href="overview-logeado">
                        <button class="btn btn-primary btn-login btn-lg" type="submit" (click)="login()">Entrar</button>
                    </a>
                    <app-alerta [alerta]="alerta"></app-alerta>
                </div>
                <br>
                <a href="">
                    <p>Olvidé mi contraseña</p>
                </a>

                <p>¿Aun no tienes una cuenta?</p>
                <div class="col-6">
                    <a routerLink="/registro"><button class="btn btn-primary btn-login" type="button" >Registrarme</button></a>
                </div>
            </form>
        </div>

        <div class="col">
            <img src="../../../assets/imagenes/banner-login.png" alt="" width=100% height="90%">
        </div>
    </div>
</div>