<div class="row">
    <div class="col-sm">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
          
              <div class="d-grid gap-2 col-6 mx-auto">
                <a href="overview-logeado">
                    <button class="btn btn-primary" type="button"style="background-color: green;">Entrar</button>
                </a>
                  
              </div>
              
              <a href=""><p>Olvide mi comtraseña</p></a>
          
              <p>¿Aun no tienes una cuenta?</p>
              <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-primary" type="button"style="background-color: green;">Registrarme</button>
              </div>  
    </form>

    </div>

    <div class="col-sm">
        <img src="../../../assets/imagenes/banner-login.png" alt=""  width=100%>
    </div>
</div>


