h6{
    text-align: center;
    font-style: oblique;
}
section{
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 0%;
}
section img{
    width: 200px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(2, 238, 22, 0.2);
    
}
section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.btn-neon{
    height: 50px;
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 60px;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: top;
    transition: 0.2s;
    border-radius: 6px;
}
.btn-neon:hover{
    background:rgb(106, 170, 10);
    box-shadow: 0 0 10px rgb(106, 170, 10), 0 0 40px rgb(106, 170, 10), 0 0 80px rgb(106, 170, 10);
    transition-delay: 10ms;
}
.btn-neon h6{
    text-align: center;
    font-style: oblique;
}


.contenedor-input-search{
	position: relative;
	margin-top: 60px;
    height: 80px;
    margin-bottom: 60px;
}

.container-button {
	position: absolute;
	left: 48%;
	top: 45%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

.container-button input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid  rgb(106, 170, 10);
	transition: all .7s ease;
    
}

.container-button ::placeholder {
	color: grey;
}

.container-button .btn-input {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: rgb(106, 170, 10);
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.container-button .btn-input i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container-button:hover input {
	width: 350px;
}

.container-button:hover i{
	transform: rotate(-360deg);
}

.container-button .btn-input:hover{
	background: rgb(106, 170, 10);
}

.galeria2{
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 20%;
    margin-bottom: 0%;
}
.galeria3{
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 20%;

}