<div class="actualizar-datos">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style=" text-align: center;">
                <img src="../assets/imagenes/goku_borrar.jpg" class="rounded-circle" alt="..." width="300" height="300">
                <br><br>
                <p>@dani_zuluaga</p>
                <p>Miembro desde Febrero 2019</p>
                <p>Total Publicaciones: 9</p>
                <p>Total Comentarios: 16</p>
            </div>
            <div class="col-md-8">
                <h3><b>DATOS PERSONALES</b></h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Daniel Stiven">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellido" placeholder="Zuluaga Rodriguez">
                    </div>

                    <div class="form-row d-flex">
                        <div class="form-group col-md-6 d-flex">
                            <select class="form-control" style="width: 300px;" id="tipoDocumento">
                                <option selected>Cédula de Ciudadanía</option>
                                <option>Cédula de extranjería</option>
                                <option>Permiso Especial Pernanente</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="telefono">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="danielzuluaga1998@gmail.com">
                    </div>

                    <div class="form-row d-flex">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="indicativo" style="width: 100px;">
                        </div>
                        <div class="form-group col-md-10">
                            <input type="text" class="form-control" id="telefono">
                        </div>
                    </div>

                    <div class="form-row d-flex">
                        <div class="form-group col-md-7">
                            <input type="text" class="form-control" id="direccion"
                                placeholder="Mz A casa 39 La Clarita">
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" id="telefono" placeholder="Quimabya">
                        </div>
                    </div>

                    <h3><b>DATOS INICIO SESION</b></h3>
                    <div class="form-row d-flex">
                        <div class="form-group col-md-6 d-flex">
                            <input type="text" class="form-control" id="usuario" placeholder="@dani_zuluaga">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 1em;">
                        <button type="submit" class="btn btn-primary btn-lg">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>