<div class="buscar-producto">
    <app-atras *ngIf="textoBusqueda"></app-atras>

    <div *ngIf="true" class="container justify-content-center contenedor-categorias">
        <div class="row">
            <h2 style="text-align: center; margin-bottom: 1em;">CATEGORÍAS</h2>
            <div class="col-3" *ngFor="let item of categorias">
                <button type="button" class="btn btn-outline-primary btn-lg"
                    (click)="filtrarPorCategoria(item)">{{item}}</button>
            </div>
        </div>
        <div class="row">
            <h5 *ngIf="categoraFilter" style="text-align: center;"><i>Resultados de la búsqueda por la categoria:
                    {{categoraFilter}}</i></h5>
        </div>
    </div>

    <div *ngIf="filtro.length > 0" class="row mb-2">
        <div *ngFor="let item of filtro" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block" *ngFor="let imagen of item.imagenes | keyvalue">
                    <img src={{imagen.value}} width="200" height="250" />
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{item.nombre}}</h3> <br>
                    <p class="card-text infouser"> <i class="fa-solid fa-circle-user fa-lg"></i> @{{item.usuarioCreacion}} </p>
                    <p>{{item.descripcion}}</p>
                    <h2 class="mb-0">$ {{item.precio}} COP</h2><br>
                    <div class="stars">
                        <i class="fa-solid fa-star fa-xl" *ngFor="let item of [].constructor(5); index as i"></i>
                    </div><br>
                    <button type="button" class="btn btn-primary btn-item-producto"
                        (click)="verDetalleProducto(item.idProducto)">Ver
                        detalle</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filtro.length == 0">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <h4 style="text-align: center; margin-top: 1em;">Lo siento, no se encontraron resultados para tu búsqueda:
                {{textoBusqueda}}</h4>
            <img src="../assets/imagenes/no-hay-productos.png" />
        </div>

    </div>
</div>