h1,
h2,
h3,
h4,
h5 {
    color: #0E3F79;    
}

.col-md-6 {
    background-color: white;
}

.infouser{
    color: #32B352;
}

.btn-item-producto {
    background-color: #32B352;
    border-color: #32B352;
    border-radius: 15px;
}

.busqueda{    
    margin-bottom: 2em;
}

.contenedor-categorias{
    background-color: #D8E0E8;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.col-3{
    margin-bottom: 0.5em;
}
