h1,
h2,
h3,
h4,
h5 {
    color: #0E3F79;    
}

.col-md-6 {
    background-color: white;
}

.infouser{
    color: #32B352;
}

.btn {
    background-color: #32B352;
    border-color: #32B352;
    border-radius: 15px;
}

.busqueda{    
    margin-bottom: 2em;
}
