<div class="row justify-content-center">
  <div class="busqueda">
    <app-busqueda></app-busqueda>
  </div>
</div>

<div class="row justify-content-center">
  <div class="carousel justify-content-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;" *ngFor="let item of categorias.slice(0,4)">
              <img class="card-img-top" src={{item.url_imagen}} alt="Card image cap">
              <div class="card-body">
                <a href="#" class="btn btn-primary btn-lg">{{item.nombre}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;" *ngFor="let item of categorias.slice(5,9)">
              <img class="card-img-top" src={{item.url_imagen}} alt="Card image cap">
              <div class="card-body">
                <a href="#" class="btn btn-primary btn-lg">{{item.nombre}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;" *ngFor="let item of categorias.slice(9,categorias.length)">
              <img class="card-img-top" src={{item.url_imagen}} alt="Card image cap">
              <div class="card-body">
                <a href="#" class="btn btn-primary btn-lg">{{item.nombre}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="galeria d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg">Quiero Publicar</button>
  </div>
</div>
