.galeria{
    margin-top: 5em;
    margin-bottom: 5em;
}

.carousel{
    background-color: #D8E0E8;    
}

.carousel-item {
    align-items: center;   
}

.card{
    margin: 15px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid #0E3F79;
}

.card img{
    border-radius: 30px;
}

.btn {
    background-color: #32B352;
    border-color: #32B352;
    border-radius: 15px;
}

.busqueda{
    margin-top: 3em;
    margin-bottom: 3em;
}
